.info-card{

    margin-top:20px;

    background:#fff;

    border-radius:24px;

    padding:22px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.info-card-title{

    display:flex;

    align-items:center;

    gap:10px;

    color:#2563EB;

    font-size:22px;

    font-weight:700;

    margin-bottom:18px;

}

.info-row{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:14px 0;

    border-bottom:1px solid #ececec;

}

.info-row:last-child{

    border:none;

}

.info-row span{

    color:#666;

    font-size:17px;

}

.info-row strong{

    font-size:20px;

}